
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  
}

::-webkit-scrollbar {
  width: 1.5rem;
}
::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.1rem rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: orangered;
}

body {
  color: #fff;
  
}

/*header----------------------------------------------------------------------------------------------------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.2rem 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-sizing: border-box; 
}

.logo {
  position: relative;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;

 
}

.navbar a {
  display: inline-block;
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));

}
.navbar a:hover {
  color: orangered;
}

@media (max-width:998px) {
  html{
    font-size: 55%;
  }
  .navbar a{
    visibility: hidden;
  }
}

@media (max-width:768px) {
  html{
    font-size: 45%;
  }
  .navbar a{
    visibility: hidden;
  }
  
   
}

/*home------------------------------------------------------------------------------------------------------------------------------------*/

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-color: black;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 7.0rem 10% 0;
}

.circle {
  width: 40.0rem;
  height: 40.0rem;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0rem 0rem 0.5rem orangered;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
}
.circle img {
  width: 100%;
  height: auto;
  display: block;
}
.circle:hover {
  box-shadow: 0 0 9.0rem 0.5rem rgb(237, 71, 71);
}
.home-content {
  max-width: 60.0rem;
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3:nth-of-type(2){
  margin-bottom: 3rem;
}
.home-content h3 span {
  color: #ff4500;
  
}
.home-content h1 {
  color: #ff4500;
  font-size: 5.6rem;
  font-weight: 700;
  margin: -0.3rem 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 2.0rem;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.0rem;
  height: 4.0rem;
  background: transparent;
  border: 0.2rem solid white;
  border-radius: 50%;
  font-size: 2.0rem;
  color: #ff4500;
  text-decoration: none;
  margin: 3.0rem 1.5rem 3.0rem 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.home-sci a:hover {
  background-color: #ff4500;
  color: #081b29;
  box-shadow: 0 0 2.0rem #ff4500;
}
.btn-box {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: #ff4500;
  border-radius: 4.0rem;
  font-size: 1.6rem;
  color: #081b29;
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 0.5rem orangered, 0 0 2.5rem orangered;
}
.btn-box:hover {
  box-shadow: 0 0 0.5rem orangered, 0 0 2.5rem orangered, 0 0 5.0rem orangered,
    0 0 10.0rem orangered, 0 0 20.0rem orangered;
}

@media (max-width:1172px) {
  html{
    font-size: 55%;
  }
  .circle{
    width: 28rem;
    height: 28rem;
    margin-left: 15%;
  }
  .home-content h3 {
    font-size: 2.2rem;
}}

@media (max-width:768px) {
  html{
    font-size: 45%;
  }
  .circle{
    width: 28rem;
    height: 28rem;
    
  }
}




/*about---------------------------------------------------------------------------------------------------------------------------------------*/

.about {
  width: 100%;
  height: 100vh;
  padding: 2.5rem, 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  background-color: black;
}

.about-text h2 {
  font-size: 6.0rem;
}
.about-text h2 span {
  color: #ff4500;
}
.about-text h4 {
  font-size: 2.0rem;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 1.5rem 0 3.0rem;
}
.about-text p {
  color: #fff;
  font-size: 2.0rem;
  line-height: 1.4;
  margin-bottom: 4;
}
.circle-about {
  width: 40.0rem;
  height: 40.0rem;
  margin-left: 2.0rem;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0rem 0rem 0.5rem orangered;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.circle-about img {
  width: 100%;
  height: auto;
  display: block;
}
.circle-about:hover {
  box-shadow: 0 0 9.0rem 0.5rem rgb(237, 71, 71);
}

@media (max-width:998px) {
  html{
    font-size: 55%;
  }
  .circle-about{
    
    width: 28rem;
    height: 28rem;
  margin-top: 20%;
  margin-left: 25%;
  }
  .about-text h2 {
    font-size: 3.0rem;
    margin-top: 7rem;
    margin-left: 30%;
  }
  .about-text{
    width: 100%;
    height: 100vh;
  }


.about {
 
  
  display: flex;
  
  align-items: center;
  gap: 5.5rem;
  background-color: black;
}
.about-text p {
   
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 4;
  margin-left: 1rem;
}
.about-text h4 {
  margin-left: 1rem;
}}

@media (max-width:768px) {
  html{
    font-size: 45%;
  }
  .about-text p {
   
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 4;
}
}



/*education-----------------------------------------------------------------------------------------------------------------------------------*/

section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}
.container1 {
  width: 100%;
  height: 100vh;
  padding: 7.5rem 9.0rem;
  margin-left: 12rem;
  background-color: black;
}
.heading1 {
  margin-top: 0rem;
}
.heading1 h2 {
  font-size: 6.0rem;
  padding-left: 25rem;
  display: inline;
}
.heading1 h2 span {
  color: #ff4500;
  display: inline;
}
.technical-bars {
  margin-top: 0rem;
  height: 60vh;
  width: 80%;
}

.bar {
  font-size: 2.0rem;
  padding-top: 2rem;
}
.technical-bars .bar {
  margin-top: 0rem 0;
}
.technical-bars .bar:first-child {
  margin-top: 0;
}
.technical-bars .bar:last-child {
  margin-bottom: 0;
}
.technical-bars .bar .info {
  margin-bottom: 0.5rem;
}
.technical-bars .bar .info span {
  font-size: 1.5rem;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

.technical-bars .bar .info h4 {
  font-size: 1.2rem;
}
.technical-bars .bar .progress-line {
  position: relative;
  border-radius: 1.0rem;
  width: 100%;
  height: 0.5rem;
  background-color: orangered;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

.technical-bars .bar .progress-line span {
  height: 100%;
  background-color: #ff4500;
  position: absolute;
  border-radius: 1.0rem;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.progress-line.btech span {
  width: 80%;
}
.progress-line.plus2 span {
  width: 65%;
}
.progress-line.ten span {
  width: 88%;
}

.progress-line span::after {
  position: absolute;
  padding: 0.1rem 0.8rem;
  background-color: #fff;
  color: red;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  top: -0.20rem;
  right: -0.20rem;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
  font-size: 1.0rem;
}
.progress-line.btech span::after {
  content: "80%";
}
.progress-line.plus2 span::after {
  content: "66%";
}
.progress-line.ten span::after {
  content: "88%";
}

.progress-line span::before {
  content: "";
  position: absolute;
  width: 0rem;
  height: 0rem;
  border: 0.7rem solid transparent;
  border-bottom-width: 0rem;
  border-right-width: 0rem;
  border-top-color: white;
  top: 0.0rem;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
  font-size: 1.0rem;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}
.summary {
  float: left;
}


@media (max-width:998px) {
  html{
    font-size: 55%;
  }
  .container1 {
    
    padding: 7.5rem 2.0rem;
    margin-left: 2rem;
    background-color: black;
  }
  .heading1 h2 {
    font-size: 3.0rem;
    padding-left: 20%;
    
}
.progress-line span::before {
  
  top: 0rem;
}
.technical-bars {
  margin-top: 10rem;
  
  width: 80%;
}.bar {
  font-size: 2.0rem;
  padding: 3rem;
}
}

@media (max-width:768px) {
  html{
    font-size: 45%;
  }
  .container1 {
    
    padding: 7.5rem 2.0rem;
    margin-left: 2rem;
    background-color: black;
  }
  .heading1 h2 {
    font-size: 3.0rem;
    padding-left: 20%;
    
}}






/*----------------------------------------------------------------------------------------------------------------------*/

/*skills*/

.skills {
  width: 100%;
  height: 100vh;
  background-color: black;
}
.main {
  width: 200vh;
  height: 100vh;
}

.main-text {
  font-size: 6.0rem;
}

.main-text h4 {
  margin-left: 60.0rem;
}
.main-text h4 span {
  color: #ff4500;
}

.cover-image {
  width: 35%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.card {
  height: 30vh;
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5.0rem;
  padding-top: 8.0rem;
  padding-left: 10.0rem;
}

.card2 {
  height: 30vh;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5.0rem;
  padding-top: 8.0rem;
  padding-left: 10.0rem;
  width: 100%;
}
.cover-image.js {
  width: 20.0rem;
  margin-left: 9.0rem;

  cursor: pointer;
  box-shadow: 0rem 0rem 0.5rem orangered;
  object-fit: contain;
}
.cover-image.js:hover {
  box-shadow: 0 0 9.0rem 0.5rem rgb(237, 71, 71);
}
.cover-image.java {
  width: 20.0rem;
  margin-left: 9.0rem;
  cursor: pointer;
  box-shadow: 0rem 0rem 0.5rem orangered;
}
.cover-image.java:hover {
  box-shadow: 0 0 9.0rem 0.5rem rgb(237, 71, 71);
}
.cover-image.mysql {
  width: 20.0rem;
  margin-left: 9.0rem;
  cursor: pointer;
  box-shadow: 0rem 0rem 0.5rem orangered;
}
.cover-image.mysql:hover {
  box-shadow: 0 0 9.0rem 0.5rem rgb(237, 71, 71);
}
.cover-image.html {
  margin-left: 30.0rem;
  cursor: pointer;
  box-shadow: 0rem 0rem 0.5rem orangered;
}
.cover-image.html:hover {
  box-shadow: 0 0 9.0rem 0.5rem rgb(237, 71, 71);
}
.cover-image.css {
  margin-left: 10.0rem;
  cursor: pointer;
  box-shadow: 0rem 0rem 0.5rem orangered;
}
.cover-image.css:hover {
  box-shadow: 0 0 9.0rem 0.5rem rgb(237, 71, 71);
}
.image {
  opacity: 0.8;
}


@media (max-width:998px) {
  html{
    font-size: 55%;
  }
  .skills{
    height: 70vh;
  }
.main-text {
  font-size: 3.0rem;
}

.main-text h4 {
  margin-left: 18.0rem;
}
.cover-image.js {
  width: 10.0rem;
  margin-left: -3.0rem;
}
.cover-image.java {
  width: 10.0rem;
  margin-left: -3rem;
}
.cover-image.mysql {
  width: 10.0rem;
  margin-left: -3rem;
}
.cover-image.html {
  width: 10rem;
  margin-left: -1rem;
}
.cover-image.css{
  width: 10rem;
  margin-left: -2rem;
}
}
@media (max-width:768px) {
  html{
    font-size: 45%;
  }
   
.main-text {
  font-size: 3.0rem;
}

.main-text h4 {
  margin-left: 18.0rem;
}
.cover-image.js {
  width: 10.0rem;
  margin-left: -3.0rem;
}
.cover-image.java {
  width: 10.0rem;
  margin-left: -3rem;
}
.cover-image.mysql {
  width: 10.0rem;
  margin-left: -3rem;
}
.cover-image.html {
  width: 10rem;
  margin-left: -1rem;
}
.cover-image.css{
  width: 10rem;
  margin-left: -2rem;
}
}




/* project------------------------------------------------------------------------------------------------------------------------------------*/
.project {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}
.main-text {
  padding-top: 0rem;
  margin-top: 10.0rem;
}
.main-text h2 {
  font-size: 6.0rem;
  line-height: 1;
  text-align: center;
}
.main-text h2 span {
  color: #ff4500;
}
.project-content {
  padding-top: 10.0rem;
  padding-left: 8.0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35.9rem, auto));
}
.row {
  position: relative;
  overflow: hidden;
  border-radius: 0.8rem;
  cursor: pointer;
}
.row img {
  width: 80%;
  border-radius: 0.8rem;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 85%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), black);
  position: absolute;
  border-radius: 0.8rem;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4.0rem;
  transition: height 0.5s;
  object-fit: cover;
}
.layer h5 {
  color: white;
  font-size: 2.0rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.layer p {
  color: rgb(0, 183, 255);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.row:hover img {
  transform: scale(1.1);
}
.row:hover .layer {
  height: 100%;
}

@media (max-width:998px) {
  html{
    font-size: 55%;
  }
  .main-text h2 {
    font-size: 3.0rem;
}
.row {
  position: relative;
  overflow: hidden;
 
margin-top: -10%;
  padding: 3rem;
}

.layer h5 {
  
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.0rem;
}

.layer p {
  
  font-size: 1.0rem;
  font-weight: 600;
  margin-bottom: 1.0rem;
}
.layer {
  width: 75%;
 
  
  border-radius: 8.8rem;
 
  flex-direction: column;

  padding: 0 1.0rem;
  transition: height 0.5s;
 
}
.row:hover img {
  transform: scale(0);
}
}

@media (max-width:768px) {
  html{
    font-size: 45%;
  }
  .main-text h2 {
    font-size: 3.0rem;
}
.row img {
  width: 25rem;
}
}






/* contact -----------------------------------------------------------------------------------------------------------------------------------*/

.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}
.main-text1 {
  padding-top: 0rem;
  margin-top: 10.0rem;
  margin-left: 60rem;
}
.main-text1 h2 {
  font-size: 6.0rem;
  line-height: 1;
  text-align: center;
}
.main-text1 h2 span {
  color: #ff4500;
}

.contact-text h4 {
  margin: 10.0rem 0;
  color: rgb(228, 228, 228);
  font-size: 3.0rem;
  font-weight: 600;
  margin-left: 65.0rem;
}
.contact-text p {
  color: rgb(177, 177, 177);
  font-size: 4.0rem;
  line-height: 3.0rem;
  margin-bottom: 2rem;
}
.contact-list {
  margin-bottom: 5rem;
  margin-left: 65.0rem;
}
.contact-list li {
  margin-bottom: 1.0rem;
  display: block;
}

.contact-list i {
  display: inline-block;

  color: orangered;

  font-size: 2.0rem;

  font-weight: 600;

  transition: all 0.4s ease;
}
.contact-list li:hover {
  transform: scale(1.01) translateY(-0.5rem);
  color: #ff4500;
}
.contact-icons {
  width: 100%;
  margin-left: 50%;
}
.contact-icons i {
  display: inline-flex;

  justify-content: center;

  align-items: center;

  width: 6.0rem;

  height: 6.0rem;

  background: transparent;

  border: 0.2rem solid orangered;

  border-radius: 50%;

  font-size: 5.0rem;

  color: orangered;

  text-decoration: none;

  margin: 1.5rem 12.0rem 3.0rem 0;

  transition: 0.5s ease;

  opacity: 1;
}
.contact-icons i:hover {
  background: white;

  color: orangered;

  box-shadow: 0 0.2rem orangered;
}
@media (max-width:998px) {
  html{
    font-size: 55%;
  }
  .main-text1 {
   
    margin-top: 6.0rem;
    margin-left: 30%;
}
.main-text1 h2 {
  font-size: 3.0rem;}

  .contact-text h4 {
    margin: 10.0rem 0;
   
    font-size: 3.0rem;
    
    margin-left: 3.0rem;
}
.contact-text p {
  
  font-size: 2.0rem;
  
  margin-bottom: 2rem;
}
.contact-list {
  font-size: 3rem;
  margin-bottom: 5rem;
  margin-left: 1.0rem;
}
.contact-icons {
  margin-left: 20%;
}
}

@media (max-width:768px) {
  html{
    font-size: 45%;
  }
}









/*footer--------------------------------------------------*/
.text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text h7 {
  color: black;
}
.text a {
  text-decoration: none;
}

@keyframes slideRight {
  0% {
    transform: translateX(-10.0rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(-10.0rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-10.0rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(10.0rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@media (max-width:998px) {
  html{
    font-size: 55%;
  }
}

@media (max-width:768px) {
  html{
    font-size: 45%;
  }
}